.consultation {
  min-height: 680px;
  padding: 100px 0 92px 0;
  background: url('../img/bg2.png') center (center/cover) no-repeat;
  &__descr {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #ffffff;
  }

  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    text-transform: uppercase;
    color: #ffffff;
  }
}
.feed-form {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  input {
    width: 303px;
    height: 54px;
    background: #ffffff;
    margin-bottom: 15px;
    border: none;
    padding: 0 20px;
    font-weight: 300;
    font-size: 14px;
    color: #4b4b4b;
    border-radius: 5px;
    &:nth-child(3) {
      margin-bottom: 20px;
    }
  }
}
