@media (max-width: 980px) {
  .comment__wrapper {
    padding: 10px 50px;
  }
  .footer__info {
    display: none;
  }

  .comment__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .promo {
    padding: 50px;
  }
  .consultation {
    text-align: center;
  }
  .feed-form {
    margin: 0 auto;
  }
  .consultation__title {
    font-size: 30px;
  }
  .consultation__descr {
    font-size: 15px;
    padding-bottom: 15px;
  }
  .carusel {
    img {
      width: 100%;
    }
  }
  .catalog__content_active {
    display: flex;
    justify-content: space-around;
  }
  .catalog-item {
    margin-right: 20px;
  }
}

@media (max-width: 768px) {
  .catalog__tabs {
    width: 100%;
    flex-direction: column;
  }
  .catalog__tab {
    margin-bottom: 10px;
  }
  .header__official {
    display: none;
  }
  .plus__wrapper {
    flex-direction: column;
  }
  .plus__item {
    width: 100%;
  }
  @media (max-width: 425px) {
    .promo__wrapper {
      align-items: center;
    }
    .catalog-item {
      margin-right: 0;
    }
    .header {
      flex-direction: column;
      &__logo {
        padding-bottom: 20px;
      }
      a {
        padding-bottom: 10px;
      }
    }
    .plus__wrapper {
      flex-direction: column;
    }
    .plus__item {
      width: 100%;
    }
    .promo__header {
      font-size: 30px;
      text-align: center;
    }
    .promo__subheader {
      text-align: center;
    }
    .button_main {
      width: 200px;
      height: 40px;
    }
    .plus__header {
      font-size: 25px;
    }
  }
}
